#logo {
  height: 80px;
}
.row img {
  width: 100%;
}
.navbar {
  clear: both;
}
.homeLogo{
  margin-top: 80px;
}
.headerLinks {
  text-align: center;
  margin-top: 70px;
}
.studentImg {
  margin-top: 25px;
  margin-bottom: 50px;
}
.studentList {
  margin-top: 50px;
}

.cImg {
  height: 400px;
  width 100%;
}
.studentProfile {
  text-align: right;
}
