#logo {
  height: 80px;
}
.row img {
  width: 100%;
}
.navbar {
  clear: both;
}
.homeLogo{
  margin-top: 80px;
}
.headerLinks {
  text-align: center;
  margin-top: 70px;
}
.studentImg {
  margin-top: 25px;
  margin-bottom: 50px;
}
.studentList {
  margin-top: 50px;
}
.studentLi {
  text-align: left;
  list-style: none;
  margin-top: 10px;
  margin-left: -4%;
}
.inline {
  display: inline;
  margin-right: 5px;
}
.cImg {
  height: 400px;
  width 100%;
}
.studentProfile {
  text-align: right;
}
.header {
  color: #ce9a00;
  margin-bottom: 15px;
}
.join {
  text-align: right;
  margin-right: 18%;
}
select{
  width: 200px;
}
.navApply {
  margin: 10px 30px 0px 50px;
  padding-top: 0px;
  height: 10px;
  font-size: 125% !important;
}
.campusLabel {
  margin-right: 30px;
}
.planetTxt {
  text-align: right;
  font-style: italic;
}
.solar {
  font-style: italic;
}
.enrollment {
  color: #cb4b16;
}
.campusImg {
  border-radius: 5%;
  border: 1px #ce9a00 solid;
}
.buttons {
  vertical-align: bottom;
  text-align: bottom;
}
.thanks {
  text-align: center;
}
.backToHome {
  text-align: center;
  width: 100%;
  vertical-align: bottom;
  margin-top: 20px;
}
.homeButton {
  margin-top: 100px;
}
.thanksLogo {
  width: 60% !important;
}
.hidden {
  display: hidden;
}
.campusButton {
  margin-left: 10px;
}
.admin {
  margin-top: 30px;
}
.admin h2 {
  margin-bottom: 20px;
}
